@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Logo;
    src: url(./assets/JaneAusten.ttf);
}

@font-face {
    font-family: common;
    src: url(./assets/HobbyHeadline.TTF);
}

@font-face {
    font-family: common2;
    src: url(./assets/Kabob.TTF);
}

